.place__text {
    max-width: 484px;
    width: 100%;
    grid-area: text;
}
@media screen and (max-width: 1024px) {
    
    .place__text {
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    
    .place__text {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}