.video__title {
    max-width: 322px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 12px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 39px;
}

@media screen and (max-width: 767px) {
    .video__title {
        margin-left: 24px;
        font-size: 23px;
        line-height: 26px;
        max-width: 288px;
    }
}

@media screen and (max-width: 375px) {
    .video__title {
        max-width: 295px;
        margin-bottom: 2px;
    }
}
@media screen and (max-width: 320px) {
    .video__title {
        max-width: 256px;
        margin-left: 16px;
    }
}