@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__item/cover__item.css');



.cover {
    max-width: 1184px;
    align-items: center;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        width: 100%;
        
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        width: 100%;
        
    }
}

@media screen and (max-width: 375px) {
    .cover {
        max-width: 375px;
        width: 100%;
        
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        width: 100%;
        
}
}