.place {
    width: 984px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "title website" "image text";
    column-gap: 2.5rem;
    row-gap: 3.75rem;
    padding-bottom: 72px;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
        width: 91%;
    }
}

@media screen and (max-width: 768px) {
    .place {
        display: flex;
        flex-direction: column;
    }
}
    @media screen and (max-width: 375px) {
        .place {
            padding-bottom: 48px;
        }
    }