.intro__about-content {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    display: block;
}

@media (max-width: 375px) {
    .intro__about {
        font-size: 0.75rem;
        line-height: 1.58;
    }
}